:root {
  --white: rgb(250, 250, 250);
  --lightwhite: rgb(200, 200, 200);
  --dark: rgb(10, 10, 10);
  --lightdark: rgb(40, 40, 40);
  --xsfs: 0.7rem;
  --sfs: 0.9rem;
  --fs: 1.2rem;
  --lfs: 1.6rem;
  --xlfs: 2rem;
  --xxlfs: 2.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}

i {
  color: white;
  font-size: var(--sfs);
  pointer-events: all;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  overflow: hidden;
}

input,
textarea {
  width: 100%;
  height: 47px;
  padding-top: 5px;
  padding-left: 10px;
  margin-top: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  /* color: white; */
}

textarea {
  height: 100px;
  padding-top: 10px;
}

body {
  /* overflow-x: hidden; */
  color: black;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--fs);
  text-align: center;
}

body.remove-scrolling {
  overflow: hidden;
}

body > section {
  min-height: 100vh;
}

nav {
  width: max-content;
  position: fixed;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  margin: 0 auto;
  background-color: rgba(25, 25, 25, 0.8);
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  gap: 30px;
  z-index: 10;
  transition: opacity 0.5s;
}

nav a {
  font-size: 0.7rem;
  font-weight: 600;
  color: rgb(180, 180, 180);
}

nav a.active {
  color: white;
}

/* Welcome page */
#welcome {
  background: linear-gradient(60deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url("./assets/medium-shot-man-painting-watercolors.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20vw;
  color: white;
}

#welcome h1 {
  font-size: var(--xlfs);
  font-weight: 600;
}

/* Innovation page */
#innovation .about-our-program {
  padding: 100px 150px;
  font-size: var(--lfs);
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
}

#innovation .side-note {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("./assets/top-view-colorful-aquarelle-with-copy-space.jpg");
  background-repeat: no-repeat;
  height: 105vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-shadow: 1px 1px 2px black;
  font-size: var(--lfs);
  font-weight: 600;
  padding: 0 10vw;
}

#programs {
  padding: 50px;
  padding-bottom: 0;
  background-color: var(--dark);
  color: var(--white);
}

#programs .program {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  min-height: 100vh;
  text-align: left;
  /* border: 2px solid red; */
}

#programs .program .image {
  height: 380px;
  border-radius: 30px;
  /* border: 2px solid red; */
}

#programs .program h1 {
  font-size: var(--xlfs);
  font-weight: 600;
  margin-bottom: 10px;
}

/* Learning timeline page */
#learning-timeline {
  display: grid;
  grid-template-columns: 1fr 20% 1fr;
  padding: 10px 200px;
  font-size: var(--sfs);
  position: relative;
  background-image: radial-gradient(rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("./assets/minimalist\ art.jpg");
  background-size: cover;
  /* border: 2px solid green; */
  color: white;
}

#learning-timeline h1 {
  font-size: var(--sfs);
}

#learning-timeline .center {
  align-content: center;
  /* color: rgb(257, 125, 70); */
  font-size: 0.8rem;
  font-weight: 700;
  font-family: cursive;
  line-height: 1.2;
  text-transform: uppercase;
}

#learning-timeline .side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  justify-self: center;
}

#learning-timeline .side.left > :nth-child(2) {
  transform: translateX(-150px);
}

#learning-timeline .side.right > :nth-child(2) {
  transform: translateX(150px);
}

#learning-timeline .step {
  width: 300px;
  height: 160px;
  perspective: 1000px;
}

#learning-timeline .card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

#learning-timeline .card .card-number {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

#learning-timeline .card.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

#learning-timeline .card .front,
#learning-timeline .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  backdrop-filter: blur(10px);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: start;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  border: 0.5px solid var(--white);
}

#learning-timeline .card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: capitalize;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

#learning-timeline .card .back {
  gap: 5px;
  font-size: var(--xsfs);
  transform: rotateY(180deg);
}

#learning-timeline .card .button {
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 5px;
  font-size: 0.6rem;
}

/* Journey page */
#challenges {
  display: grid;
  grid-template-rows: 400px 1fr;
  color: white;
}

#challenges .top h1 {
  font-size: var(--xlfs);
  font-weight: 600;
  text-transform: capitalize;
}

#challenges .top {
  background-color: var(--dark);
  padding-top: 50px;
  background: linear-gradient(to top, rgb(50, 50, 50), black);
}

#challenges .top h1 {
  font-size: var(--xlfs);
  font-weight: 600;
  text-transform: capitalize;
}

#challenges .bottom {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  padding: 0 50px;
  font-weight: 600;
}

#challenges .bottom .image {
  transform: translateY(-150px);
  position: relative;
  height: 450px;
}

#challenges .bottom .image img {
  filter: brightness(50%);
  transition: scale 0.5s;
}

#challenges .bottom .image div {
  position: absolute;
  inset: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 20px 30px;
}

#challenges .bottom .image .overlay-text {
  position: absolute;
  inset: 50% 0 0 0;
  text-align: center;
  opacity: 0;
  transform: translateY(10px);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
}

#challenges .bottom .image:hover .overlay-text {
  opacity: 1;
  transform: translateY(-20px);
}

#challenges .bottom .image:hover img {
  scale: 1.1;
}

#carousel-challenges {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
  opacity: 1;
  background-color: var(--dark);
  color: var(--white);
  transition: opacity 0.5s;
}

#carousel-challenges.hidden {
  z-index: -15;
  opacity: 0;
}

#carousel-challenges .swiper {
  width: 100%;
  height: 100%;
}

#carousel-challenges .swiper-slide {
  padding: 80px 70px;
  display: flex;
  gap: 30px;
}

#carousel-challenges .swiper-slide .content {
  padding-top: 50px;
  text-align: left;
  color: var(--lightwhite);
}

#carousel-challenges .swiper-slide .content h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-weight: 600;
  font-size: var(--lfs);
}

#carousel-challenges iframe,
#carousel-challenges .image {
  min-width: 600px;
  max-width: 700px;
  height: 100%;
}

#carousel-challenges #close {
  position: fixed;
  top: 20px;
  right: 30px;
  width: fit-content;
  height: fit-content;
  z-index: 20;
  opacity: 0.5;
  transition: all 0.3s;
}

#carousel-challenges #close:hover {
  opacity: 1;
}

#carousel-challenges #close i {
  font-size: var(--lfs);
}

#carousel-challenges a {
  text-decoration: underline;
  color: #ff3d00;
}

#carousel-challenges .swiper-pagination-bullet {
  background-color: white;
}

#carousel-challenges [class*="swiper-button"] {
  color: white;
}

/* Meet team */
#meet-team {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 30px;
  /* border: 3px green solid; */
}

#meet-team .team-member {
  display: flex;
  gap: 25px;
  text-align: left;
  align-items: center;
  width: fit-content;
}

#meet-team .team-member h2 {
  font-size: var(--lfs);
  color: #f6805c;
  line-height: 1.2;
  margin-bottom: 15px;
}

#meet-team .team-member:nth-of-type(1) {
  position: relative;
  left: 38vw;
}

#meet-team .team-member:nth-of-type(2) {
  position: relative;
  left: 16vw;
}

#meet-team .team-member:nth-of-type(3) {
  position: relative;
  left: 32vw;
}

#meet-team .team-member:nth-of-type(4) {
  position: relative;
  left: 10vw;
}

#meet-team .background {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-rows: 41% 41% 18%;
  z-index: -1;
}

#meet-team .background .one {
  background-color: rgb(20, 20, 20);
  text-align: left;
  padding: 150px 50px;
  font-size: var(--xxlfs);
  font-weight: 600;
}

#meet-team .background .two {
  background-color: rgb(40, 40, 40);
}

#meet-team .background .three {
  background-color: rgb(46, 46, 50);
}

#meet-team .image {
  width: 400px;
  height: 400px;
  background-color: black;
}

#meet-team .image img {
  opacity: 0.6;
}

/* contact us page */
#contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  background-image: url("./assets/abstract_2.jpg");
  background-size: cover;
  color: var(--white);
  padding: 60px;
  text-align: left;
}

#contact-us .about-message {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#contact-us h1 {
  font-weight: 600;
  font-size: var(--xxlfs);
  /* margin-bottom: 50px; */
}

#contact-us .points div {
  display: flex;
  align-items: center;
  gap: 15px;
}

#contact-us form {
  background-color: rgba(61, 61, 61, 0.17);
  backdrop-filter: blur(5px);
  color: var(--white);
  min-height: 80vh;
  padding: 30px;
  border-radius: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: var(--sfs);
  /* border: 1px solid var(--lightwhite); */
  box-shadow: 0px 0px 15px black;
}

#contact-us form label {
  font-weight: 600;
}

#contact-us form button {
  justify-content: center;
  padding: 11px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: rgba(96, 96, 96, 0.226);
}

/* Footer */
footer {
  background-color: rgb(10, 10, 10);
  color: white;
  font-size: var(--sfs);
  padding: 100px 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

footer h1 {
  font-size: var(--lfs);
}

footer a {
  color: gray;
}

footer .links {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
  font-size: var(--xsfs);
  justify-content: center;
  color: rgb(59, 59, 59);
  font-weight: 600;
}

footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .icons i {
  margin: 0 7px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  font-size: var(--xsfs);
}

footer p {
  color: gray;
}

/* Page Intro */
.intro {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: black;
  color: white;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.intro .logo {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 50px;
  height: 50px;
  transform: translate(-150px, -50%);
  animation: 1s ease 1s both animate-logo;
}

.intro .content {
  position: absolute;
  left: 50%;
  top: 45%;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  text-align: left;
  font-size: var(--fs);
  padding-left: 30px;
  transform: translate(-100px, -50%);
}

.intro .content p {
  animation: 1.5s ease-in-out both intro-content-reveal-left;
}

.intro .content p:first-of-type {
  animation-delay: 1.5s;
}

.intro .content :nth-of-type(2) {
  animation: 1s ease-in-out both intro-content-reveal-right;
  animation-delay: 1.8s;
}

.intro .content :nth-of-type(3) {
  animation: 1s ease-in-out both intro-content-reveal-bottom;
  animation-delay: 2s;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

.intro .getting-ready {
  width: 50vw;
  height: 7px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  overflow: hidden;
  background-color: gray;
}

.intro .getting-ready .progress-bar {
  background-color: #ff3d00;
  height: 100%;
  animation: 6s ease progress-bar both;
}

@keyframes animate-logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro-content-reveal-left {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes intro-content-reveal-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes intro-content-reveal-bottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes progress-bar {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
