:root {
  --white: rgb(250, 250, 250);
  --dark: rgb(10, 10, 10);
  --lightdark: rgb(40, 40, 40);
  --xsfs: 0.7rem;
  --sfs: 0.9rem;
  --fs: 1.2rem;
  --lfs: 1.6rem;
  --xlfs: 2rem;
  --xxlfs: 2.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}

i {
  color: white;
  font-size: var(--sfs);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  overflow: hidden;
}

input,
textarea {
  width: 100%;
  height: 45px;
  padding-top: 5px;
  padding-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 3px 1px rgb(180, 180, 180);
  outline: none;
}

textarea {
  height: 100px;
}

body {
  overflow-x: hidden;
  color: black;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--fs);
  text-align: center;
}

body.remove-scrolling {
  overflow: hidden;
}

body > section {
  min-height: 100vh;
}

nav {
  position: fixed;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  margin: 0 auto;
  background-color: rgba(25, 25, 25, 0.8);
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  gap: 30px;
  z-index: 10;
}

nav a {
  font-size: 0.7rem;
  font-weight: 600;
  color: rgb(180, 180, 180);
}

nav a.active {
  color: white;
}

/* Welcome page */
#welcome {
  background: linear-gradient(60deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url("./assets/medium-shot-man-painting-watercolors.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20vw;
  color: white;
}

#welcome h1 {
  font-size: var(--xlfs);
  font-weight: 600;
}

/* Innovation page */
#innovation .about-our-program {
  padding: 100px 150px;
  font-size: var(--lfs);
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
}

#innovation .side-note {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("./assets/top-view-colorful-aquarelle-with-copy-space.jpg");
  background-repeat: no-repeat;
  height: 105vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-shadow: 1px 1px 2px black;
  font-size: var(--lfs);
  font-weight: 600;
  padding: 0 10vw;
}

#programs {
  padding: 50px;
  padding-bottom: 0;
  background-color: var(--dark);
  color: var(--white);
}

#programs .program {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  min-height: 100vh;
  text-align: left;
  /* border: 2px solid red; */
}

#programs .program .image {
  height: 380px;
  border-radius: 30px;
  /* border: 2px solid red; */
}

#programs .program h1 {
  font-size: var(--xlfs);
  font-weight: 600;
  margin-bottom: 10px;
}

/* Learning timeline page */
#learning-timeline {
  display: grid;
  grid-template-columns: 1fr 20% 1fr;
  padding: 10px 200px;
  font-size: var(--xsfs);
  position: relative;
  /* border: 2px solid green; */
}

#learning-timeline h1 {
  font-size: var(--sfs);
}

#learning-timeline .center {
  align-content: center;
  color: rgb(257, 125, 70);
  font-size: var(--fs);
  font-weight: 700;
  font-family: cursive;
  line-height: 1.2;
  text-transform: uppercase;
}

#learning-timeline .side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  justify-self: center;
}

#learning-timeline .side.left > :nth-child(2) {
  transform: translateX(-150px);
}

#learning-timeline .side.right > :nth-child(2) {
  transform: translateX(150px);
}

#learning-timeline .step {
  width: 300px;
  height: 160px;
  perspective: 1000px;
}

#learning-timeline .card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

#learning-timeline .card.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

#learning-timeline .card .front,
#learning-timeline .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: rgba(253, 121, 69, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: start;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
}

#learning-timeline .card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: capitalize;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

#learning-timeline .card .back {
  gap: 0;
  transform: rotateY(180deg);
}

#learning-timeline .card .button {
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 5px;
  font-size: 0.6rem;
}

/* contact us page */
#contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  background-color: var(--dark);
  color: var(--white);
  padding: 60px;
  text-align: left;
}

#contact-us .about-message {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#contact-us h1 {
  font-weight: 600;
  font-size: var(--xxlfs);
  /* margin-bottom: 50px; */
}

#contact-us .points div {
  display: flex;
  align-items: center;
  gap: 15px;
}

#contact-us form {
  background-color: white;
  color: var(--lightdark);
  min-height: 80vh;
  padding: 20px 25px;
  border-radius: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: var(--sfs);
}

#contact-us form label {
  font-weight: 600;
}

#contact-us form button {
  justify-content: center;
  padding: 11px;
  border-radius: 20px;
  border: none;
  background-color: var(--lightdark);
  color: var(--white);
}

/* Page Intro */
.intro {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: black;
  color: white;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.intro .logo {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 50px;
  height: 50px;
  transform: translate(-150px, -50%);
  animation: 1s ease 1s both animate-logo;
}

.intro .content {
  position: absolute;
  left: 50%;
  top: 45%;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  text-align: left;
  font-size: var(--fs);
  padding-left: 30px;
  transform: translate(-100px, -50%);
}

.intro .content p {
  animation: 1s ease-in-out both intro-content-reveal-left;
}

.intro .content p:first-of-type {
  animation-delay: 2s;
}

.intro .content :nth-of-type(2) {
  animation: 1s ease-in-out both intro-content-reveal-right;
  animation-delay: 2.2s;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

.intro .getting-ready {
  width: 50vw;
  height: 7px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  overflow: hidden;
  background-color: gray;
}

.intro .getting-ready .progress-bar {
  background-color: #ff3d00;
  height: 100%;
  animation: 5s ease-in progress-bar both;
}

@keyframes animate-logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro-content-reveal-left {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes intro-content-reveal-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes progress-bar {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
